@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

@mixin roboto {
  font-family: 'Roboto', sans-serif;
}

@mixin roboto-mono {
  font-family: 'Roboto Mono', monospace;
}

body {
  @include roboto;
  margin: 0;
  padding: 0;
  color: #555;
}

h1, h2, h3, strong {
  color: #090C19;
}

h1 {
  @include roboto-mono;
  user-select: none;
  font-size: 3em;
  margin-bottom: 0;
}

@media (max-width:725px) {
  h1 {
    font-size: 2em;
  }
}

a {
  color: #777;
  text-decoration: none;
  &:not(nav a) {
    border-bottom: 2px solid #ddd;
    transition-property: background-color;
    transition-duration: 0.2s;
    &:hover {
      background-color: #eee;
    }
  }
}

nav {
  @include roboto-mono;
  user-select: none;
  background-color: #090C19;
}

/* LAYOUT */

.flex {
  display: flex;
  align-items: center;
}

.flex-item {
  margin: 0.5em;
}

.content {
  margin: 0 auto;
  max-width: 50em;
  padding: 3em;
}

.center {
  text-align: center;
}

/* COLORS */

.dark-1 {
  color: white;
}

.dark-2 {
  color: #22FE56;
}

.dark-3 {
  color: #38393F;
}

.light-1 {
  color: #ddd;
}

.light-2 {
  color: #00d733;
}